.textLayer,
.annotationLayer {
  position: absolute;
  inset: 0;
}

.pdf-slide-progress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
}

.pdf-slide-progress-bar {
  width: 0;
  height: 8px;
  background-color: #44a4dd;
  transition: width 0.05s linear;
}

.pdf-loading-hidden {
  display: none;
}

.pdf-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4rem;
  height: 4rem;
  margin-top: -1rem;
  margin-left: -1rem;
  border: 1px solid #797673;
  border-radius: 51%;
  animation: 1s linear infinite spin;
}

.pdf-loading::before {
  position: absolute;
  width: 50%;
  height: 50%;
  content: '';
  background-color: #fff;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
